@model string[]
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
		Home/Index
    </div>
	<div>
		@foreach (var record in Model)
		{
			<div>
				@record
			</div>
		}
	</div>
</body>
</html>
